.navigator{
    height: 90vh;
    background:rgb(247, 250, 247);
    float:left;
    left: 0;
    width: 14%;    
    border-radius: 12px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
    
}

ul.nav.nav-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}